.todo-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 55vw;
  margin: 0 auto;
  background: #fff;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 300;
  }

  .button-wrapper {
    margin-left: 1vw;
  }

  app-task-list {
    flex: 1;
    overflow-y: auto;
    display: block;
    padding-right: 1rem;
  }
}
