<div class="task-item" [class.completed]="task.status === taskStatus.Completed">
  <div class="task-content">
    <app-checkbox
      [checked]="task.status === taskStatus.Completed"
      (checkedChange)="onToggleComplete()"
      class="task-checkbox"
    ></app-checkbox>
    <span
      class="task-text"
      [class.completed]="task.status === taskStatus.Completed"
    >
      {{ task.name }}
    </span>
  </div>
  @if (task.status === taskStatus.Completed) {
    <app-button variant="danger" (click)="onDelete()" class="delete-button">
      <app-icon name="delete"></app-icon>
    </app-button>
  }
</div>
